@charset "ISO-8859-1";
body{
	background-color: lightgoldenrodyellow;
}
.left-headings{
	margin-top: 70px;
	font-size: 25px;
	background-color: lightgray;
	border: none;
	display: inline-block;
	padding:20px;
	align-items: center;
	height: 450px;	
}
.Title1{
	margin-top: 40px;
	cursor: pointer;
	margin-left:5px;
}
.readHome{
	display: grid;
	grid-template-columns: 300px 400px;
	align-items: center;
	
}
.table{
		font-size: 15px;
		background-color: lightcyan;
		border-radius:10px;
		margin-left:20px;
		
		width:500px;
		border: 1px solid black;
		border-collapse: collapse;
		
	}
	.th, td {

padding: 5px;
}
.submit-button{
	font-size: 20px;
	margin-left:30px;
	margin-top:10px;
	border: none;
	background-color: lightskyblue;
	border-radius: 20px;
	width: 150px;
	padding: 10px 10px 10px 5px;
	cursor: pointer;
	margin-left:40px;
}

.insertMenus{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.form1{
	width: 600px;
}
.inform{
	font-size: 20px;
	margin-bottom:10px;
	margin-left:10px;
}
.readBook{
	margin-top:40px;
}
